.HeaderTextStyle
{
	color:#FFFFFF;
	font-family:Arial;
	font-size:12pt;
	font-weight:bold;
}
.ExitButtonStyle
{
	font-family: Verdana;
	color: #FFD379;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	cursor:hand;
	vertical-align: middle;
}
.ECUsListStyle
{
	font-family: Verdana;
	color: white;
	font-size: 10pt;
	font-weight: bold;
}
.HomeTitleStyle
{
	font-family: Verdana;
	font-size: 12pt;
	color: #FFD379;
	text-align: center;
}
.HomeSmallTitleStyle
{
	font-family: Verdana;
	font-size: 10pt;
	color: #FFD379;
	text-align: center;
}
.FeaturesListStyle
{
	font-family: Verdana;
	color: 000000;
	font-size: 12pt;
	text-align: center;
}
.ContributorsListDecoStyle
{
	font-family: Verdana;
	font-size: 10pt;
	COLOR: black;
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    BORDER-TOP: 3px ridge #808080;
    BORDER-RIGHT: 3px ridge #808080;
    BORDER-LEFT: 3px ridge #808080;
    BORDER-BOTTOM: 3px ridge #808080;
    BACKGROUND-COLOR: #F8CE84;
}
.ContributorsListStyle
{
	font-family: Arial;
	font-size: 10pt;
	COLOR: black;
    BACKGROUND-COLOR: #F8CE84;
}
.SeparateRowStyle
{
	font-family: Verdana;
	color: white;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
}
.FeatureHeaderStyle
{
	color:#FFD379;
	font-family:Arial;
	font-size:12pt;
	font-weight:bold;
	font-style:italic;
}
.FeatureHeaderSpecialStyle
{
	color:#FFD379;
	font-family:Arial;
	font-size:12pt;
}
.FeatureSmallHeaderStyle
{
	color:#FFD379; 
	font-family:Verdana; 
	font-size:8pt; 
	font-weight:bold; 
	font-style:italic; 
	font-variant:small-caps;
	text-align: right;
	}
.PreviousNextStyle
{
	font-family: Verdana;
	cursor:hand;
	color: #555555;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
}
.ItemsUsedStyle
{
	color:#FFFFFF; 
	font-family:Arial; 
	cursor:hand; 
	font-size:12pt; 
	font-weight:bold;
	text-align: left;
}
.ItemsUsedInStyle
{
	color:#FFFFFF; 
	font-family:Arial; 
	font-size:12pt; 
	font-weight:bold;
	text-align: left;
}
.ComStatusStyle
{
	BORDER-RIGHT: #c0c0bf 2px inset; 
	BORDER-TOP: #c0c0bf 2px inset; 
	BORDER-LEFT: #c0c0bf 2px inset; 
	BORDER-BOTTOM: #c0c0bf 2px inset;
}
.ItemsListAsStyle
{
	font-family: arial; 
	font-size: 10pt; 
	font-weight: normal; 
	color: black; 
	background-color: white;
	text-align: left;
}
.ItemsListDeviceStyle
{
	font-family:Arial Narrow; 
	font-size:12pt; 
	font-weight: normal; 
	color: black; 
	background-color: white;
}
.ItemsListFirstAsStyle
{
	font-family: arial; 
	font-size: 10pt; 
	font-weight: normal; 
	color: black; 
	border-top: #C0C0C0 1px solid; 
	background-color: white;
	text-align: left;
}
.ItemsListFirstDeviceStyle
{
	font-family:Arial Narrow; 
	font-size:12pt; 
	font-weight: normal; 
	color: black; 
	border-top: 1px solid #C0C0C0; 
	background-color: white;
}
.ItemsListDeviceNotFoundStyle
{
	font-family:Arial Narrow; 
	font-size:12pt; 
	font-weight: normal; 
	color: #FF8000; 
	border-top: 1px solid #C0C0C0; 
	background-color: white;
}
.ItemsListDeviceFoundStyle
{
	font-family:Arial Narrow; 
	font-size:12pt; 
	font-weight: normal; 
	color: #444444; 
	border-top: 1px solid #C0C0C0; 
	background-color: white;
	font-style:italic;
}
.ItemsListDataNotFoundStyle
{
	font-family:Arial Narrow; 
	font-size:12pt; 
	font-weight: normal; 
	color: #FF8000; 
	border-top: 1px solid #C0C0C0; 
	background-color: white;
	text-align: left;
}
.ItemsListDataFoundStyle
{
	font-family:Arial Narrow; 
	font-size:12pt; 
	font-weight: normal; 
	color: #444444; 
	border-top: 1px solid #C0C0C0; 
	background-color: white;
	text-align: left;
	font-style:italic;
}
.ItemsListDataStyle
{
	font-family:Arial Narrow; 
	font-size:12pt; 
	font-weight: normal; 
	color: black; 
	border-top: 1px solid #C0C0C0; 
	background-color: white;
	text-align: left;
}
.ItemsListValueStyle
{
	font-family:Arial Narrow; 
	font-size:12pt; 
	font-weight: normal; 
	color: black; 
	border-top: 1px solid #C0C0C0; 
	background-color: ECE9D8;
	text-align: center;
}
.ItemsListLocaStyle
{
	font-family:Arial Narrow; 
	font-size:12pt; 
	font-weight: normal; 
	color: black;
	border-top: 1px solid #C0C0C0; 
	background-color: white;
	text-align: center;
}
.ItemsListStyle
{
	font-family:Arial Narrow; 
	font-size:12pt; 
	font-weight: normal; 
	color: black; 
	border-top: 1px solid #C0C0C0; 
	background-color: white;
	text-align: center;
}