BODY
{
    BACKGROUND-COLOR: oldlace
}
H1
{
    FONT-SIZE: 48pt;
    COLOR: palegoldenrod;
    BORDER-BOTTOM: black thin solid;
    FONT-STYLE: italic;
    BACKGROUND-COLOR: mediumblue
}
TABLE
{
    border:thin solid #000000; FONT-FAMILY: Verdana
}
TH
{
    BORDER-RIGHT: thin solid;
    BORDER-TOP: thin solid;
    FONT-WEIGHT: bolder;
    MARGIN: 0px;
    BORDER-LEFT: thin solid;
    BORDER-BOTTOM: thin solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: navajowhite
}
TD
{
    border-style:inset; border-width:thin; margin:0px; 
}
.data
{
    BORDER-TOP-STYLE: solid;
    BORDER-RIGHT-STYLE: solid;
    BORDER-LEFT-STYLE: solid;
    BORDER-BOTTOM-STYLE: solid
}
