html {
}

body,table, td {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10pt;
/*
  background-color:#4A4A4A;
  color:black; 
*/
  margin:0;
  padding:0;
}

div {
  font-size:12pt;
}

.showDebug {
  display:inline; /* set to inline for debug, none for final release */
  border:2px solid white;
  width:100%;
  background-color:#000080;
  color:white;
  padding:4px;
  font-size:8pt;
}

.hidden {
  display:none;
}

.screen {
  display:none;
  height:100%;
  width:100%;
/*  border:1px solid red; */
}

p {
  padding:4px;
}

p.centerParagraph {
  text-align:center;
}

a {
  text-decoration:none;
  color: #0000C0;
}

a:link, a:visited, a:hover, a:active {
  text-decoration:none;
  color: #0000C0;
}

a img {
  border:0;
}

table {
  border:0;
}

td {
  vertical-align:top;
}

td.buttonsInfo {
  border-top:1px solid black;
  height:56px;
  background-color:#f0fff0;
}

.buttonsInfo, .buttonsInfo div, .buttonsInfo div div, .buttonsInfo div div ul {
  padding-top:0;
  font-size:10pt;
}


td.languageSelection {
  height:14px;
  font-size:1em;
  color:black;
  background-color:#d0d0d0 ;/* #C6C3BD; */
  padding:2px;
}

td.titleArea   {
  vertical-align:middle;
  height:46px;
  border-bottom:1px solid black;
  color:white;
  background-color:#6B736B; /* #FCF9DC; */
  text-align:center;
  font-weight:bold;
  font-size:2em;
  padding:2px;
}
td.displayArea {
  color:black;
  background-color:#d0d0d0 ;/* #C6C3BD; */
  padding:1px;
  padding-left:8px;
  padding-right:8px;
}
td.refreshArea {
  vertical-align:top;
  border-top:1px dotted black;
  background-color:#f0ffff;
  color:#000000;
  font-size:1em;
  font-weight:normal;
  font-style:normal;
  height:1em;
  overflow:hidden;
}
td.extraInfoArea {
  vertical-align:middle;
  height:30px;
  border-top:1px dotted black;
  background-color:#f0f0f0;
  color:#000000;
  font-weight:normal;
  font-style:italic;
  padding:2px;
}
td.warningArea {
  vertical-align:middle;
  height:30px;
  border-top:1px dotted black;
  background-color:#f0f0f0;
  color:#000000;
  font-weight:bold;
  padding:2px;
}

td.buttonsArea {
  vertical-align:middle;
  height:32px;
  border-top:1px solid black;
  color:white;
  background-color:#5A5A5A; /* #850AAE; */
  text-align:center;
  font-weight:bold;
  padding:2px;
}

td.data {
  border:1px solid black;
  background-color:white;
  text-align:left;
}

td.dataBlock {
  border:1px solid black;
  background-color:#c0c000;
  text-align:left;
}


h2.subTitle {
  text-align:center;
}
h3.subTitle {
  text-align:center;
}

.text {
  border:1px solid black;
  padding:2px;
}

.textReadOnly {
  border:1px solid black;
  background-color:#c0c0e0;
  padding:2px;
}

.textBytes {
  font-family: "Courier New", Courier, monospace, sans-serif;
  border:2px solid black;
  padding:2px;
}

.textBytesReadOnly {
  font-family: "Courier New", Courier, monospace, sans-serif;
  border:1px solid black;
  background-color:#c0c0e0;
  padding:2px;
}

#btnStartContainer a {
  color: white;
  text-decoration:none;
  cursor:hand;
  width:104px;
  height:24px;
  background-image:url(images/btn_green.gif);
  background-repeat:no-repeat;
  padding-top:2px;
  font-size:14px;
}
#btnPrevContainer a {
  color: white;
  text-decoration:none;
  cursor:hand;
  width:104px;
  height:24px;
  background-image:url(images/btn_green.gif);
  background-repeat:no-repeat;
  padding-top:2px;
  font-size:14px;
}
#btnNextContainer a {
  color: white;
  text-decoration:none;
  cursor:hand;
  width:104px;
  height:24px;
  background-image:url(images/btn_green.gif);
  background-repeat:no-repeat;
  padding-top:2px;
  font-size:14px;
}
#btnFinishContainer a {
  color: white;
  text-decoration:none;
  cursor:hand;
  width:104px;
  height:24px;
  background-image:url(images/btn_green.gif);
  background-repeat:no-repeat;
  padding-top:2px;
  font-size:14px;
}
#btnCancelContainer a {
  color: white;
  text-decoration:none;
  cursor:hand;
  width:104px;
  height:24px;
  background-image:url(images/btn_red.gif);
  background-repeat:no-repeat;
  padding-top:2px;
  font-size:14px;
}
#btnYesContainer a {
  color: white;
  text-decoration:none;
  cursor:hand;
  width:104px;
  height:24px;
  background-image:url(images/btn_green.gif);
  background-repeat:no-repeat;
  padding-top:2px;
  font-size:14px;
}
#btnNoContainer a {
  color: white;
  text-decoration:none;
  cursor:hand;
  width:104px;
  height:24px;
  background-image:url(images/btn_green.gif);
  background-repeat:no-repeat;
  padding-top:2px;
  font-size:14px;
}

#refreshArea {
  display:none;
  vertical-align:top;
  background-color:#f0ffff;
  color:#000000;
  font-size:12pt;
  font-weight:normal;
  font-style:normal;
  height:0;
  overflow:hidden;
}

#refreshArea table td {
  background-color:#f0ffff;
  color:#000000;
  text-align:left;
  font-size:8pt;
}

#refreshArea table td.data {
  border:1px solid black;
  background-color:white;
  text-align:left;
}

#refreshArea table td.dataBlock {
  border:1px solid black;
  background-color:#FFFFAA;
  text-align:left;
}

.dataText {
  background-color:#FFFFAA !important;
  text-align:left !important;
}

label {
  cursor: hand;
  cursor: pointer;
}

.error {
  background-color:#800000;
  color:white;
  border:1px solid white;
  display:none;
  width:100%;
  padding: 4px;
  font-weight:bold;
}

.errorBox {
  background-color:#800000;
  color:white;
  border:1px solid white;
  width:100%;
  padding: 4px;
  font-weight:bold;
}

/* -------- style for graphs ------- */

table.mwjgraph {
  border: 2px groove #000090;
  margin: 0px;
  background-color:#fefef0;
}

table.mwjgraph td {
  background-color:#fefef0;
}

table.mwjgraph td div {
  background-color:#fefef0;
}

table.graph {
  border: 1px solid #000080;
  margin: 0px;
  background-color:#d0ffff;
}

table.graph td {
  background-color:#d0ffff;
}

table.graph td div {
  background-color:#d0ffff;
}

/* ---- end of style for graphs ---- */
